force-app/main/default/flows/MZ_FL_DuplicateCheckColorMatching.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>ERROR_DuplicateColorMatching</name>
        <label>重複エラー</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>既に{!$Record.MZ_Color1__r.Name}と{!$Record.MZ_Color2__r.Name}の組み合わせは登録済みです。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>JUDGE_ExistColorMatching</name>
        <label>レコード存在判定</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>レコード無し</defaultConnectorLabel>
        <rules>
            <name>ExistColorMatching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ColorMatching</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_DuplicateColorMatching</targetReference>
            </connector>
            <label>レコード有り</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>カラーマッチング重複判定フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>カラーマッチング重複チェックフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_ColorMatching</name>
        <label>カラーマッチングを取得</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JUDGE_ExistColorMatching</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>MZ_Color1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Color1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Color2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Color2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Color1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Color2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Color2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Color1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MZ_ColorMatching__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_ColorMatching</targetReference>
        </connector>
        <object>MZ_ColorMatching__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
