force-app/main/default/flows/MZ_FL_SetItemImage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>アイテム画像設定フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>アイテム画像設定フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_ContentDocumentLink</name>
        <label>関連コンテンツドキュメントリンクIDを取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_ContentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
        <outputAssignments>
            <assignToReference>contentDocumentId</assignToReference>
            <field>ContentDocumentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ContentVersion</name>
        <label>関連コンテンツバージョンレコードを取得</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPDATE_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ContentVersion</object>
        <outputReference>contentVersion</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentBodyId</queriedFields>
        <queriedFields>FileExtension</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_Item</name>
        <label>アイテムレコードを更新</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MZ_ContentBodyId__c</field>
            <value>
                <elementReference>contentVersion.ContentBodyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MZ_ContentVersionId__c</field>
            <value>
                <elementReference>contentVersion.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MZ_ImageFileExtension__c</field>
            <value>
                <elementReference>contentVersion.FileExtension</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_ContentDocumentLink</targetReference>
        </connector>
        <object>MZ_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
