force-app/main/default/flows/MZ_FL_DuplicateCheckCoordinate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>ERROR_DuplicateCoordinate</name>
        <label>重複エラー</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <customErrorMessages>
            <errorMessage>既にそのコーデは登録済みです。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>JUDGE_CreateOrUpdate</name>
        <label>新規・更新判定</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>JUDGE_UpdateItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新時</defaultConnectorLabel>
        <rules>
            <name>IsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Coordinate</targetReference>
            </connector>
            <label>新規作成時</label>
        </rules>
    </decisions>
    <decisions>
        <name>JUDGE_ExistCoordinate</name>
        <label>レコード存在判定</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>レコード無し</defaultConnectorLabel>
        <rules>
            <name>ExistCoordinate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Coordinate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ERROR_DuplicateCoordinate</targetReference>
            </connector>
            <label>レコード有り</label>
        </rules>
    </decisions>
    <decisions>
        <name>JUDGE_UpdateItem</name>
        <label>アイテム項目変更判定</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>アイテム以外を変更</defaultConnectorLabel>
        <rules>
            <name>UpdateItem</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MZ_Outer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MZ_Tops__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MZ_Inner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MZ_Bottoms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MZ_Shoes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Coordinate</targetReference>
            </connector>
            <label>アイテムを変更</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>コーデ重複チェックフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>コーデ重複チェックフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Coordinate</name>
        <label>コーデを取得</label>
        <locationX>182</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JUDGE_ExistCoordinate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MZ_Outer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Outer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Tops__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Tops__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Inner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Inner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Bottoms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Bottoms__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MZ_Shoes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MZ_Shoes__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MZ_Coordinate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JUDGE_CreateOrUpdate</targetReference>
        </connector>
        <object>MZ_Coordinate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
